body{
    background-image: url("https://images.direct.money.pl/articles/thumb/606x287_fit_in_cf2a92936b1e1e9d54732e52733d95c9.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

